target/
bin/
helpguide/
debug.log
!logs/
logs/*
!reports/
reports/*
!drivers/
drivers/*
!data/
/data/*
.idea
/.settings
test-output/
*.iml
*.ipr
*.iws
.classpath
.project
!configs/USER_PROFILE_TEMPLATE.properties
.gradle/