<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Suite1" verbose="1" group-by-instances="true">
	<!-- <group-by-instances="true"> used to preserve the test execution order 
		in data provider -->

	<test name="Sanity">
		<classes>
			<class name="com.fusion.test.scripts.VerifyFusionLogin" />
			<!-- <class name="com.fusion.test.sanity.captureReceiptStateFromFileNameHCFAandDSR_TS"></class> -->
			<!-- <class name="com.fusion.test.sanity.StoreclearinghouseTraceNumberEDIIntakeCliams_TS"></class> -->
			<!-- <class name="com.fusion.test.sanity.VerifyReceivedDateOfNovologixClaims_TS"></class> -->
		</classes>
	</test>

</suite>

 